name: Auto-merge Dependabot pull requests

on:
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]

permissions:
  contents: write
  pull-requests: write

jobs:
  enable-automerge:
    if: >
      github.actor == 'dependabot[bot]' &&
      github.event.pull_request.base.ref == 'dependabot-staging'
    runs-on: ubuntu-latest

    steps:
      - name: Enable auto-merge
        run: |
          gh pr merge ${{ github.event.pull_request.number }} --repo ${{ github.repository }} --auto --rebase
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
