name: Build PR

on:
  pull_request:
    branches: [ main, dependabot** ]

env:
  BUILD_ENVIRONMENT: github

jobs:
  build-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v5

      - name: Install Java and Maven
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'

      - name: Run Maven build
        run: ./mvnw -B install